/* bengali */
@font-face {
    font-family: 'Baloo Da';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Baloo Da Regular'), local('BalooDa-Regular'), url(https://fonts.gstatic.com/s/balooda/v5/LhWmMVnXOfIZO795FUkKQPplMw.woff2) format('woff2');
    unicode-range: U+0964-0965, U+0981-09FB, U+200C-200D, U+20B9, U+25CC;
}

/* vietnamese */
@font-face {
    font-family: 'Baloo Da';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Baloo Da Regular'), local('BalooDa-Regular'), url(https://fonts.gstatic.com/s/balooda/v5/LhWmMVnXOfIZO795FUkXQPplMw.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Baloo Da';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Baloo Da Regular'), local('BalooDa-Regular'), url(https://fonts.gstatic.com/s/balooda/v5/LhWmMVnXOfIZO795FUkWQPplMw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Baloo Da';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Baloo Da Regular'), local('BalooDa-Regular'), url(https://fonts.gstatic.com/s/balooda/v5/LhWmMVnXOfIZO795FUkYQPo.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Play Regular'), local('Play-Regular'), url(https://fonts.gstatic.com/s/play/v11/6aez4K2oVqwIvtg2H68T.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Play Regular'), local('Play-Regular'), url(https://fonts.gstatic.com/s/play/v11/6aez4K2oVqwIvtE2H68T.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek */
@font-face {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Play Regular'), local('Play-Regular'), url(https://fonts.gstatic.com/s/play/v11/6aez4K2oVqwIvtY2H68T.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Play Regular'), local('Play-Regular'), url(https://fonts.gstatic.com/s/play/v11/6aez4K2oVqwIvto2H68T.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Play Regular'), local('Play-Regular'), url(https://fonts.gstatic.com/s/play/v11/6aez4K2oVqwIvts2H68T.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Play Regular'), local('Play-Regular'), url(https://fonts.gstatic.com/s/play/v11/6aez4K2oVqwIvtU2Hw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* thai */
@font-face {
    font-family: 'Kodchasan';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Kodchasan Regular'), local('Kodchasan-Regular'), url(https://fonts.gstatic.com/s/kodchasan/v3/1cXxaUPOAJv9sG4I-DJWnHGFucE.woff2) format('woff2');
    unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}

/* vietnamese */
@font-face {
    font-family: 'Kodchasan';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Kodchasan Regular'), local('Kodchasan-Regular'), url(https://fonts.gstatic.com/s/kodchasan/v3/1cXxaUPOAJv9sG4I-DJWh3GFucE.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Kodchasan';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Kodchasan Regular'), local('Kodchasan-Regular'), url(https://fonts.gstatic.com/s/kodchasan/v3/1cXxaUPOAJv9sG4I-DJWhnGFucE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Kodchasan';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Kodchasan Regular'), local('Kodchasan-Regular'), url(https://fonts.gstatic.com/s/kodchasan/v3/1cXxaUPOAJv9sG4I-DJWiHGF.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.font-kodchasan {
    font-family: 'Kodchasan', sans-serif;
}

.font-play {
    font-family: 'Play', sans-serif;
}

.font-balooda {
    font-family: 'Baloo Da', cursive;
}
