<div class="container-fluid animated fadeIn mt-4 mb-5 full-screen">
    <div *ngIf="bookInCart.length === 0">
        <div class="col-12 text-center">
            <h1 class="text-secondary">Your cart is empty</h1>
        </div>
    </div>

    <div class="row" *ngIf="bookInCart.length !== 0">
        <div class="col-lg-4">
            <div class="card h-100">
                <div class="card-header bg-primary">
                    <h4 class="text-white text-wrap">
                        <i class="fas fa-money-bill"></i> Check out
                    </h4>
                </div>
                <div *ngIf="!_authenticatedService.isAuthenticated()" class="card-body">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <div class="row">
                            <div class="col-lg-12 col-sm-6 text-center">
                                <h2 class="font-weight-bold text-uppercase text-dark">
                                    Total: <span class="text-danger">{{totalPrice | number:'1.0':'en-US'}} VND</span>
                                </h2>
                                <img src="assets/images/logo.png" class="img-fluid">
                            </div>
                            <div class="col-lg-12 col-sm-6 text-center">

                                <h3 class="text-dark">
                                    Please <a class="text-decoration-none" routerLink="/sign-in">sign in</a> before check out
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="_authenticatedService.isAuthenticated()" class="card-body">
                    <div class="text-center">
                        <img src="assets/images/logo.png" class="img-fluid">
                    </div>
                    <form (ngSubmit)="onSubmit()" class="form-group">
                        <div class="form-group">
                            <label class="font-weight-bold">Id</label>
                            <input class="form-control"
                                   readonly
                                   [value]="user.id">
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold">Name</label>
                            <input class="form-control"
                                   readonly
                                   [value]="user.fullname">
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold">Address</label>
                            <input class="form-control"
                                   readonly
                                   [value]="user.address">
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold">Email</label>
                            <input class="form-control"
                                   readonly
                                   [value]="user.email">
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold">Phone</label>
                            <input class="form-control"
                                   readonly
                                   [value]="user.phoneNumber">
                        </div>
                        <br>
                        <h3 class="font-weight-bold text-uppercase">
                            Total: <span class="text-danger">{{totalPrice | number:'1.0':'en-US'}} VND</span>
                        </h3>
                        <br>
                        <button type="submit" class="btn btn-primary font-weight-bold">
                            <i class="fas fa-money-check-alt"></i> Check out
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-8 mt-lg-0 mt-sm-3">
            <div class="card h-100">
                <div class="card-header bg-primary">
                    <h4 class="text-white text-wrap">
                        <i class="fa fa-shopping-cart mr-1" aria-hidden="true"></i> Your cart
                    </h4>
                </div>
                <div class="card-body bg-white">
                    <div *ngFor="let item of bookInCart">
                        <div class="card shadow-none rounded">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-2 text-center">
                                        <img class="border-primary border img-fluid h-100"
                                             width="150"
                                             onerror="this.src='assets/images/no-image.png';"
                                             src="https://storage.googleapis.com/book-garden.appspot.com/book/{{item.book.image}}"
                                             alt="Card image front">
                                    </div>
                                    <div class="col-lg-10 mt-2 mt-lg-0 d-flex flex-column">
                                        <div class="row mt-2 mb-3">
                                            <div class="col-lg-12 text-left">
                                                <p class="card-text text-dark">
                                                    <i class="fas fa-book"></i>
                                                    <strong> {{item.book.title}}</strong>
                                                </p>
                                                <p class="card-text">
                                                    <i class="fas fa-user"></i>
                                                    <strong class="text-dark"> Author</strong>: {{item.book.author.fullname}}
                                                </p>
                                                <p class="card-text">
                                                    <i class="fas fa-tag"></i>
                                                    <strong class="text-dark"> Unit price</strong>: {{item.book.price | number:'1.0':'en-US'}} VND
                                                </p>
                                                <p class="card-text form-inline">
                                                    <i class="fas fa-shopping-basket mr-1"></i>
                                                    <strong class="text-dark"> Amount</strong>:
                                                    <input type="number"
                                                           min="1"
                                                           class="form-control-sm form-control ml-2"
                                                           [max]="appConstants.CART_CAPACITY_PER_ITEM_MAX"
                                                           [value]="item.amount" (blur)="updateAmount($event, item.book.id)">
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row mt-auto ml-auto">
                                            <div class="col-lg-12">
                                                <button class="btn btn-danger text-white font-weight-bold" (click)="removeFromCart(item.book)">
                                                    <i class="fas fa-minus-circle"></i> Remove
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
