<div id="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center error-pages">
                    <h1 class="error-title text-primary">500</h1>
                    <h2 class="error-sub-title text-dark">Server internal error</h2>

                    <p class="error-message text-dark text-uppercase">Please try again later</p>

                    <div class="mt-4">
                        <a href="/" class="btn btn-primary btn-round shadow-primary m-1 text-white font-weight-bold">Back to home page</a>
                    </div>

                    <div class="mt-4">
                        <p class="text-dark">
                        </p>
                    </div>
                    <hr class="w-50">
                </div>
            </div>
        </div>
    </div>
</div>
