<nav class="w-100 navbar shadow-sm navbar-expand-lg navbar-custom navbar-light font-balooda">
    <a class="navbar-brand" routerLink="/">
        <img src="assets/images/logo4.png" width="30" class="d-inline-block align-top" alt="brand logo">
        <span class="text-dark pl-2">BOOK</span>
        <span class="text-primary">GARDEN</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li *ngFor="let item of leftItems" class="nav-item">
                <a [routerLink]="item.url"
                   [ngClass]="{'disabled': item.disabled}"
                   class="nav-link text-uppercase"
                >
                    {{item.name}}
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li *ngFor="let item of rightItems; let last = last;" class="nav-item">
                <a [routerLink]="item.url"
                   [ngClass]="{'btn btn-primary text-white': last}"
                   class="nav-link text-uppercase"
                >
                    {{item.name}}
                </a>
            </li>
        </ul>
    </div>
</nav>
